@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 1s;
  color: #111111;
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}

/* html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
} */
